<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mcpchatbot>
            <general>
                <enabled>1</enabled>
                <auth_token></auth_token>
                <return_policy>You may return items within 30 days of delivery. Please contact support for RMA instructions.</return_policy>
            </general>
        </mcpchatbot>
    </default>
</config>
