<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="wellknown" frontName=".well-known">
            <module name="Spyrosoft_MCPChatBotv7" />
        </route>
    </router>
    <router id="rest">
        <route id="mcp" frontName="mcp">
             <module name="Spyrosoft_MCPChatBotv7" />
        </route>
    </router>
</config>
