<?xml version="1.0"?>
<!--
/**
 * Copyright © Spyrosoft. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Individual API Interfaces -->
    <preference for="Spyrosoft\MCPChatBot\Api\OrderStatusInterface" type="Spyrosoft\MCPChatBot\Model\OrderStatus"/>
    <preference for="Spyrosoft\MCPChatBot\Api\ProductInfoInterface" type="Spyrosoft\MCPChatBot\Model\ProductInfo"/>
    <preference for="Spyrosoft\MCPChatBot\Api\ReturnPolicyInterface" type="Spyrosoft\MCPChatBot\Model\ReturnPolicy"/>
</config>
