<?xml version="1.0"?>
<routes xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="spyrosoft_mcpchatbot" frontName="spyrosoft_mcpchatbot">
            <module name="Spyrosoft_MCPChatBot" />
        </route>
    </router>
</routes>