<?xml version="1.0"?>
<!--
/**
 * Copyright © Spyrosoft. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="spyrosoft" translate="label" sortOrder="999">
            <label>Spyrosoft</label>
        </tab>
        <section id="spyrosoft_mcpchatbot" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>MCP ChatBot</label>
            <tab>spyrosoft</tab>
            <resource>Spyrosoft_MCPChatBot::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the MCP ChatBot module.</comment>
                </field>
                <field id="require_token" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Require Bearer Token</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Require a bearer token for API access.</comment>
                </field>
                <field id="bearer_token" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bearer Token</label>
                    <comment>The bearer token required for API access (if enabled above).</comment>
                    <depends>
                        <field id="require_token">1</field>
                    </depends>
                </field>
                <field id="return_policy" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Return Policy Text</label>
                    <comment>The return policy text to be returned by the API. Supports plain text or Markdown.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
