<?xml version="1.0"?>
<acl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Spyrosoft_MCPChatBotv6::config" title="Spyrosoft MCP ChatBot v6 Config" sortOrder="90" />
            </resource>
        </resources>
    </acl>
</acl>
