<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Spyrosoft\MCPChatBotv5\Api\OrderStatusServiceInterface" type="Spyrosoft\MCPChatBotv5\Model\OrderStatusService" />
    <preference for="Spyrosoft\MCPChatBotv5\Api\ProductInfoServiceInterface" type="Spyrosoft\MCPChatBotv5\Model\ProductInfoService" />
    <preference for="Spyrosoft\MCPChatBotv5\Api\ReturnPolicyServiceInterface" type="Spyrosoft\MCPChatBotv5\Model\ReturnPolicyService" />
    <preference for="Spyrosoft\MCPChatBotv5\Api\SchemaServiceInterface" type="Spyrosoft\MCPChatBotv5\Model\SchemaService" />
    <preference for="Spyrosoft\MCPChatBotv5\Api\ManifestServiceInterface" type="Spyrosoft\MCPChatBotv5\Model\ManifestService" />
    <!-- Map Data interfaces to implementations for generated factories -->
    <preference for="Spyrosoft\MCPChatBotv5\Api\Data\OrderStatusInterface" type="Spyrosoft\MCPChatBotv5\Model\Data\OrderStatus" />
    <preference for="Spyrosoft\MCPChatBotv5\Api\Data\ProductInfoInterface" type="Spyrosoft\MCPChatBotv5\Model\Data\ProductInfo" />
    <preference for="Spyrosoft\MCPChatBotv5\Api\Data\ReturnPolicyInterface" type="Spyrosoft\MCPChatBotv5\Model\Data\ReturnPolicy" />
</config>
